{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
    <h1>Prediction available for the following crops</h1>
    <ul>
        <li>🌽 Maize</li>
        <li>🥔 Potato</li>
    </ul>
</header>
<div class="container">
    <h1>welcome to AgriScan</h1>
<h5>submit your image for scanning and prediction</h5>
    <form action="/process" method="post"  enctype="multipart/form-data" id="upload-form">
        {% csrf_token %}
        <label for="image">Select image</label>
        <input type="file" name="image" id="image" accept="image/*">
        <span id="filename"></span>
        <div id="preview-container">
            <img id="preview" src="" alt="Image Preview" />
        </div>
        <div class="form-actions">
            <input type="submit" id="button" value="🧠 Ask AI" class="ai-button">
            <button type="button" id="reset-btn">Reset</button>
        </div>
        <div id="loading-spinner" style="display:none;">
            <div class="spinner"></div>
            <span>Processing...</span>
        </div>
    </form>
</div>
<div class="prediction">
     {% if prediction %}
        <h3>Predicted disease: {{ prediction }}</h3>
        <p>prediction confidence: {{ confidence }}%</p>
    {% endif %}
</div>
 <div class="chat-container">
    <h3>🌾 AgriChat – Your Farm Assistant</h3>
    <div class="input-area">
      <input type="text" id="user-input" placeholder="Ask about your crop disease...">
      <button id="send-btn">Send</button>
    </div>
    <div id="chat-box"></div>
  </div>
 

    <!--<div class="chatbot_container" id="chatbot_container">
          <h2>Chat with Model</h2>
             <input id="user_input" placeholder="Type your text here..." type="text"></input><br>
            <button id="send_btn">Send</button>
    </div>
     <div id="response" class="response"></div>-->
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>